@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
}


/* Thẻ tiêu đề */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Thẻ danh sách */
ul,
ol {
  list-style: none;
}

/* Thẻ liên kết */
a {
  text-decoration: none;
  color: inherit;
}

/* Thẻ hình ảnh */
img {
  max-width: 100%;
  height: auto;
}

/* Thẻ bảng */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Thẻ form */
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Thẻ button */
button {
  cursor: pointer;
}

/* Thẻ khối */
blockquote {
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  max-height: 450px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Tùy chỉnh nút Next và Prev */
.custom-swiper-button-next,
.custom-swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 100%;
  font-weight: bold;
}

/* Vị trí nút Prev */
.custom-swiper-button-prev {
  left: 10px;
}

/* Vị trí nút Next */
.custom-swiper-button-next {
  right: 10px;
}

/* Hiệu ứng khi hover */
.custom-swiper-button-next:hover,
.custom-swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.custom-radio-group .ant-radio-button-wrapper {
  border: 1px solid #d9d9d9;
  padding: 4px 12px;
}

.custom-radio-group .ant-radio-button-wrapper:hover {
  background-color: #fff;
}

.custom-radio-group .ant-radio-button-wrapper-checked {
  background-color: #f0f0f0;
  border-color: #000;
}
.ant-tabs-green .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #2AB573 !important; /* Màu xanh lá cho tab được chọn */
}

.ant-tabs-green .ant-tabs-tab:hover .ant-tabs-tab-btn {
  color: #2AB573 !important; /* Màu xanh lá khi hover */
}

.ant-tabs-green .ant-tabs-ink-bar {
  background-color: #2AB573 !important; /* Đổi màu gạch chân thành xanh lá */
}

